# Trick Python Pandas
### Trick 01: Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame

## Import Modules

In [1]:
import pandas as pd
import numpy as np

In [2]:
print(pd.__version__)
print(np.__version__)

1.0.0
1.18.1

## Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 7
cols = tuple('ABCDEFG')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E  F  G
0  8  4  6  3  4  7  8
1  3  9  1  8  8  3  6
2  4  2  7  3  1  8  3
3  5  3  2  5  8  3  5
4  8  9  5  7  2  9  1
5  9  4  6  3  1  2  9
6  5  9  9  5  6  2  8
7  6  5  4  8  4  1  4
8  3  3  7  3  4  9  1
9  2  4  3  5  3  4  4

## Menyertakan Prefix Kolom

In [4]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E  kolom_F  kolom_G
0        8        4        6        3        4        7        8
1        3        9        1        8        8        3        6
2        4        2        7        3        1        8        3
3        5        3        2        5        8        3        5
4        8        9        5        7        2        9        1
5        9        4        6        3        1        2        9
6        5        9        9        5        6        2        8
7        6        5        4        8        4        1        4
8        3        3        7        3        4        9        1
9        2        4        3        5        3        4        4

## Menyertakan Suffix Kolom

In [5]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field  F_field  G_field
0        8        4        6        3        4        7        8
1        3        9        1        8        8        3        6
2        4        2        7        3        1        8        3
3        5        3        2        5        8        3        5
4        8        9        5        7        2        9        1
5        9        4        6        3        1        2        9
6        5        9        9        5        6        2        8
7        6        5        4        8        4        1        4
8        3        3        7        3        4        9        1
9        2        4        3        5        3        4        4

# Happy Pythoning :)

![](./image/pip_install_coffee.png)